{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    o/

    <div>
        If a mascot group called `offline` is specified it will not be displayed in lists, but instead show up when the website
        cannot be loaded from normal online state.
    </div>
{% endblock %}