.mascot-container {
    height: 100%;
}

.mascot {
    object-fit: contain;
    object-position: bottom right;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 3rem - 50px);
}

.mascot-select {
    width: 100px;
    border: 0;
}

.admin-mascot {
    height: 100px;
}