$app-black: #191919;
$app-white: #ddd;
$app-gentle-blue: #004153;

$app-gray: #484848;

$body-bg: $app-black;
$body-color: $app-white;

$card-bg: transparent;
$info: $app-white;

$btn-padding-y-sm: .2rem;
$btn-padding-x-sm: .4rem;
$btn-line-height: 1rem;
$btn-border-radius-sm: 0;
$primary: $app-gentle-blue;

$input-bg: $app-black;
$input-color: $app-white;